@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
    img{
        box-shadow: 1px 1px 15px darkblue
    }
</style>

    <div class="text-center">
        <h1 class="display-4"><b>Welcome to our Furniture Store</b></h1>
        <br />
        <br />
        <img src="~/img/mobila3.jpg" alt="Sample Photo" height="500" width="1200" />
        <br />
        <br />
        <h3><b><i>We are here for your needs</i></b></h3>
    </div>
